.card-header {
  border-top-left-radius: 0.75rem !important;
  border-top-right-radius: 0.75rem !important;
}

.table th {
  background: linear-gradient(90deg, #5b6ef5, #6a82fb);
  color: white;
}

.btn-outline-warning i {
  color: #f39c12;
}