::ng-deep.mat-mdc-dialog-surface {
  border-radius: 0;
}

::ng-deep.mat-mdc-form-field-error-wrapper {
  padding: 0 !important;
}

::ng-deep.success-snackbar {
  background: #4caf50 !important;
  color: white !important;
}

::ng-deep.error-snackbar {
  background: #f44336 !important;
  color: white !important;
}