<h4 mat-dialog-title class="text-primary mb-3">New Enrollment</h4>

<mat-dialog-content class="mat-typography">
  <form [formGroup]="enrollmentForm">
    <div class="row">
      <div class="col-md-6 mb-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Student Name</mat-label>
          <input matInput formControlName="studentName" placeholder="Enter student name" />
          <mat-error *ngIf="enrollmentForm.get('studentName')?.hasError('required')">
            Student Name is required.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-6 mb-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Contact Number</mat-label>
          <input matInput formControlName="contactNo" placeholder="Enter contact number" />
          <mat-error *ngIf="enrollmentForm.get('contactNo')?.hasError('required')">
            Contact Number is required.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-6 mb-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Batch</mat-label>
          <mat-select formControlName="batchId">
            @for(b of batches; track $index) {
            <mat-option [value]="b.batchId">{{ b.batchName }}</mat-option>
            }
          </mat-select>
          <mat-error *ngIf="enrollmentForm.get('batchId')?.hasError('required')">
            Batch is required.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-6 mb-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Total Fees (₹)</mat-label>
          <input
            matInput
            type="number"
            formControlName="totalFees"
            placeholder="Enter total fees"
          />
          <mat-error *ngIf="enrollmentForm.get('totalFees')?.hasError('required')">
            Total Fees is required.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-4 mb-3" *ngFor="let i of [1, 2, 3]">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>EMI-{{ i }} (₹)</mat-label>
          <input matInput type="number" formControlName="emi{{ i }}" placeholder="Amount" />
          <!-- <mat-error *ngIf="enrollmentForm.get('emi' + i)?.hasError('required')">
            EMI {{ i }} is required
          </mat-error> -->
        </mat-form-field>
      </div>
    </div>

    <div class="text-end mt-3">
      <button mat-stroked-button color="warn" type="button" (click)="close()">Cancel</button>
      @if (enrollmentForm.get('enrollmentId')?.value == 0) {
      <button mat-raised-button color="primary" type="submit" class="ms-2" (click)="submit()">
        Save
      </button>
      } @else {
      <button mat-raised-button color="primary" type="button" class="ms-2" (click)="update()">
        Update
      </button>
      }
    </div>
  </form>
</mat-dialog-content>
